<main class="container my-4">
  <h1 class="fs-2">Listagem de Médicos</h1>

  <section
    aria-label="Opções"
    class="row justify-content-center justify-content-lg-start g-1"
  >
    <a
      mat-flat-button
      data-cy="cadastrar"
      class="col-md-6 col-lg-4 col-xxl-2 fs-6 py-4"
      [routerLink]="['/medicos', 'cadastrar']"
    >
      <mat-icon>bookmark_add</mat-icon>
      Cadastrar
    </a>
  </section>

  <hr />

  <div *ngIf="medicos$ | async as itens" class="row g-3 mt-2">
    <div *ngFor="let item of itens" class="col-md-6 col-lg-4 col-xxl-3">
      <mat-card
        class="card-animado mat-mdc-elevation-specific mat-elevation-z3 h-100 mat-card"
      >
        <mat-card-header class="fw-bold">
          <mat-card-title class="titulo-card">{{ item.nome }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="d-flex flex-column mt-2">
          <span>CRM: {{ item.crm }}</span>
        </mat-card-content>

        <mat-card-footer class="d-flex justify-content-end gap-1 p-3 mt-auto">
          <a
            mat-icon-button
            class="botao-icone"
            matTooltip="Visualizar {{ item.nome }}"
            [routerLink]="['/medicos', 'visualizar', item.id]"
          >
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</main>
