<main class="container my-4">
  <div class="row justify-content-center g-3 mt-2">
    <div class="col-md-10 col-xxl-6">
      <h1 class="fs-2">Cadastro de Medico</h1>

      <hr />

      <form [formGroup]="MedicoForm" (submit)="cadastrar()">
        <mat-form-field class="w-100" appearance="fill" data-cy="nome">
          <mat-label>Nome do Médico</mat-label>
          <input formControlName="nome" matInput placeholder="Ex: Jonas" />
          <mat-icon matSuffix color="secondary">person</mat-icon>
          <mat-error *ngIf="nome?.invalid && (nome?.errors)!['required']">O nome é obrigatório!</mat-error>
          <mat-error *ngIf="nome?.invalid && (nome?.errors)!['minlength']">O nome precisa conter ao menos 3
            caracteres!</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill" data-cy="crm">
          <mat-label>CRM</mat-label>
          <input formControlName="crm" matInput placeholder="Ex: 00000-AA" />
          <mat-icon matSuffix color="secondary">assignment_ind</mat-icon>
          <mat-error *ngIf="crm?.invalid && (crm?.errors)!['required']">O CRM é obrigatório!</mat-error>
          <mat-error *ngIf="crm?.invalid && (crm?.errors)!['invalidFormat']">O CRM precisa ter o formato
            "00000-AA"!</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill" data-cy="email">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Ex: xxx@gmail.com" />
          <mat-icon matSuffix color="secondary">description</mat-icon>
          <mat-error *ngIf="
              email?.invalid && (email?.errors)!['required']
            ">O email é obrigatória!</mat-error>
          <mat-error *ngIf="
              email?.invalid && (email?.errors)!['email']
            ">O email invalido</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill" data-cy="telefone">
          <mat-label>Telefone</mat-label>
          <input formControlName="telefone" matInput placeholder="Ex: 49999999999" />
          <mat-icon matSuffix color="secondary">description</mat-icon>
          <mat-error *ngIf="
              telefone?.invalid && (telefone?.errors)!['required']
            ">O telefone é obrigatória!</mat-error>
          <mat-error *ngIf="
              telefone?.invalid && (telefone?.errors)!['minlength']
            ">O Telefone invalido</mat-error>
        </mat-form-field>

        <div class="row justify-content-end g-2 gap-2 mt-5">
          <button type="submit" mat-flat-button class="col-sm-4 col-md-3" data-cy="confirmar">
            <mat-icon matIconPrefix>check</mat-icon>
            Confirmar
          </button>
          <a mat-stroked-button type="button" class="col-sm-4 col-md-3" routerLink="/medicos">
            <mat-icon matIconPrefix>keyboard_return</mat-icon>
            Voltar
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
