<main class="container my-4">
  <div class="row justify-content-center g-3 mt-2">
    <div class="col col-lg-8 col-xxl-6">
      <h1 class="fs-2">Detalhes de {{ Medico?.nome }}</h1>

      <hr />
      <mat-card
        class="card-listagem card-animado mat-mdc-elevation-specific mat-elevation-z3"
      >
        <mat-card-content class="d-grid mt-2 fs-6">

          <span>Nome: {{Medico?.nome}}</span>
          <span>CRM: {{ Medico?.crm }}</span>
          <span>Email: {{ Medico?.email }}</span>
          <span>Telefone: {{ Medico?.telefone }}</span>

        </mat-card-content>
      </mat-card>

      <div class="row justify-content-end g-2 gap-1 mt-5">
        <button
          mat-stroked-button
          class="col-md-3"
          type="button"
          routerLink="/medicos"
        >
          <mat-icon>keyboard_return</mat-icon>
          Voltar
        </button>
      </div>
    </div>
  </div>
</main>
